/Almacenamiento local web  sessionStorage  localStorage.odt
/Tarea  17 2Eval Almacenamiento local web   sessionStorage localStorage.odt
/Almacenamiento local web  sessionStorage  localStorage (1).odt
/ejemplo.html
/ejemplo2.html
/local.html
/localleer.html